alias zshrc='vim ~/.zshrc'
alias rezsh='source ~/.zshrc'
alias coding='cd /mnt/c/Users/ccbal/coding'
alias p='ssh cadwcoron@patty.reed.edu'
alias vimrc='vim ~/.vimrc'
alias zshal='vim ~/.aliases'
alias g='git'
alias dfs='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
